{% extends "shared/_layout.html" %}
{% block additional_header %}
 {{ super() }}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script>
    let map;
    let markers =[];
    let randBtn = document.getElementById("randomButton");

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
        zoom: 11,
        disableDefaultUI: true,
        center: new google.maps.LatLng( 30.28, -97.75), 
        mapTypeId: "terrain",
        styles: [
                    {
                        "featureType": "all",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "saturation": 36
                            },
                            {
                                "color": "#93d06b"
                            },
                            {
                                "lightness": 40
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 17
                            },
                            {
                                "weight": 1.2
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.province",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#675373"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 21
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 29
                            },
                            {
                                "weight": 0.2
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 18
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 19
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#876bc6"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    }
                ]
        });

    // https://aiocollective.com/blog/getbounds-in-google-maps-api-v3/
    //todo: figure out how to pass in obj to make envelop
    google.maps.event.addListener(map, 'idle', function() {
        var bounds =  map.getBounds();
        var ne = bounds.getNorthEast();
        var sw = bounds.getSouthWest();
        //do whatever you want with those bounds
        var lngW=   sw.lng();
        var latS=   sw.lat();
        var lngE=   ne.lng();
        var latN=   ne.lat();
        var obj=    {
            lngW: lngW,
            latS: latS,
            lngE: lngE,
            latN: latN
        };
        console.log(obj,'in the listener')
        fetch( new Request(`api/inthedb/${lngW}/${lngE}/${latN}/${latS}`).url).then((res)=> {return res.json()})
        .then(function (data) {
            console.log(data.length)
            deleteMarkers()
            console.log(data.length)
            console.log(data)
            for (let i = 0; i< data.length;i++){

                const lat = data[i].latitude
                const long = data[i].longitude
                const latLng = new google.maps.LatLng( long, lat);
                const infowindow = new google.maps.InfoWindow({
                    content: data[i].description,
                });
                var icon = {url:icons.ghost.icon,
                scaledSize: new google.maps.Size(60, 60)}
                const marker = new google.maps.Marker({
                icon : icon,//icons.ghost.icon,
                position: latLng,

                map: map,
                });
                marker.addListener("click", () => {
                infowindow.open(map, marker);
                
                });
                google.maps.event.addListener(map, "click", function(event) {
                    infowindow.close();
                });
                markers.push(marker);
            }


        })
        });

        // Deletes all markers in the array by removing references to them.
    function deleteMarkers() {
        markers = [];
    }

    // listen to random button
    google.maps.event.addDomListener(document.getElementById("randomButton"), "click", () => {
    console.log("clicking works...")
    fetch( new Request(`api/random`).url).then((res)=> {return res.json()})
    .then(function (data) {
        console.log(data)
        const lat = data.latitude
        const long = data.longitude
        const latLng = new google.maps.LatLng( long, lat);
        map.setCenter(latLng)
        map.setZoom(14)
    });
    });
        
    }


    const iconBase = "./static/icons/"
    const icons = {
        ghost :{
        icon : iconBase + 'ghost1.png'
        }
    }



    </script>
{% endblock %}
{% block main_content %}
<body>
    <div id='main_content'>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-sm-10" id='title'>
                <p class="message">Aboutz</p>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <p id='text' class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p id='text' class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div id="randomButton">
                    <button id="randomButton" type="button" class="btn btn-dark">Random spooky</button>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-1"></div> -->
            <div class="col-sm-12">
                <div id='map'/>
            </div>
            <!-- <div class="col-1"></div> -->
        </div>
    </div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrY_-3bBRr4_QEd36vBLX_1QiW_Fx_vFY&callback=initMap&libraries=&v=weekly"
      async
    ></script>
{% endblock %}
